@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  @apply min-h-full;
}

body {
  background-color: rgb(7 89 133);
}

h1 {
  color: rgb(228 228 231);
  font-weight: bold;
}
